.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.columns {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.submitButton {
  padding: 16px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  color: white;
  background: black;
  cursor: pointer;
  width: 100%;
}

.date {
  display: flex;
  gap: 20px;
}
